version: "3.9" 
services:
  aquaponics-experiment:
    image: nvcr.io/nvidia/pytorch:21.07-py3
    container_name: aquaponics-experiment
    ports:
      - "8888:8888"
      - "6006:6006"
    stdin_open: true
    tty: true
    volumes:
      - $(pwd):/workspace
    # deploy:
    #   reservations:
    #     devices:
    #       # - driver: nvidia
    #       # device_ides: ['0', '1']
    #       capabilities: [gpu]